
#maewing{
    height: 100px;
    width: 200px;
    position: fixed;
    top: 0px;
    right: 0px;
    opacity: 0.3;
}
/*A partir de aqui es la calculadora*/
#body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    border-width:2px;
    border-style:solid;
    border-color:black;

}
.cuadros{
    
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: 	#205b7a;
    border-width:2px;
    border-style:solid;
    border-color:black;

}
#calculator{
    
    font-family: Arial,sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-color: rgb(79, 80, 80);
    border: 20px;
    border-color: black;
    
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1%;
    padding: 5%;
    height: 75%;
    width: 90%;
}
button{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0, 30);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor:pointer ;
    text-align: center;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0,0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 65%);
    
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}
/*apartir de aqui es el historial*/

#historial{
    height: 75%;
    min-width: 75%;
    background-color: grey;
    border: 50px;;
    border-color: blueviolet;
    border-radius: 25px;
    margin: 50px;
    overflow: auto;
   
}
#tituloHistorial{
    margin-bottom: 100;
}
p{
    font-size: 2rem;
}